
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

/* Experience */
#experience{
    position:fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#experience-canvas{
    width: 100%;
    height: 100%;
}

/* Utilities */
.hidden{
    display: none;
}

/* Loading Screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 12px solid white;
  z-index: 10;
  pointer-events: all;
  transition: opacity 0.5s ease;
}

.enter-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 36px;
  background: lightgreen;
  border: 3px solid white;
  padding: 8px 20px;
  opacity: 1;
}

.enter-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: lightgreen;
}


/* Modal */
.modal {
    z-index: 999;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: #ce75d1;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 6px;
}

.modal-wrapper{
    padding: 12px
}

.modal-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-exit-button {
  border: 3px solid #ce75d1;
  border-radius: 6px;
  padding: 8px 10px;
  background-color: white;
  color: #ce75d1;
  font-weight: bold;
  cursor: pointer;
}

/* Texts and Buttons */

.datePin {
    position: fixed;
    top: 20px;
    left: 30px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 9999;
    font-family: Arial, sans-serif;
    text-align: right;
}

.timePin {
    position: fixed;
    top: 50px;
    left: 30px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 9999;
    font-family: Arial, sans-serif;
    text-align: right;
}
.tempPin {
    position: fixed;
    top: 80px;
    left: 30px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 9999;
    font-family: Arial, sans-serif;
    text-align: right;
}
.humidPin {
    position: fixed;
    top: 110px;
    left: 30px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 9999;
    font-family: Arial, sans-serif;
    text-align: right;
}

.moistPin {
    position: fixed;
    top: 140px;
    left: 30px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 9999;
    font-family: Arial, sans-serif;
    text-align: right;
}

.soilECPin {
    position: fixed;
    top: 170px;
    left: 30px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 9999;
    font-family: Arial, sans-serif;
    text-align: right;
}



.sunPin {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #a8ffb0; /* Light green background */
    border: 2px solid #4caf50;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
}

.sunPin:hover {
    background-color: #4caf50;
    color: white;
}

.fanPin {
    position: fixed;
    top: 70px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #a8ffb0; /* Light green background */
    border: 2px solid #4caf50;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
}

.fanPin:hover {
    background-color: #4caf50;
    color: white;
}
.bulbLedPin {
    position: fixed;
    top: 120px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #a8ffb0; /* Light green background */
    border: 2px solid #4caf50;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
}

.bulbLedPin:hover {
    background-color: #4caf50;
    color: white;
}
.pumpPin {
    position: fixed;
    top: 170px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #a8ffb0; /* Light green background */
    border: 2px solid #4caf50;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
}

.pumpPin:hover {
    background-color: #4caf50;
    color: white;
}

/* For Mobile Devices */

@media (max-width: 600px) {
    #experience {
        touch-action: none; /* Disable browser touch gestures (like scrolling) */
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
    }

    #experience-canvas {
        width: 100%;
        height: 100%;
    }

    .enter-button {
        font-size: 25px;
    }
    .modal {
        max-width: 250px;
        font-size: 12px;
    }
    .modal-header{
        font-size: 16px; 
    }

    .modal-exit-button {
        padding: 2px 4px;
    }

    .datePin {
        font-size: 16px;
        top: 10px;
        left: 10px;
    }
    .timePin {
        font-size: 16px;
        top: 35px;
        left: 10px;
    }
    .tempPin {
        font-size: 16px;
        top: 535px;
        left: 10px;
    }
    .humidPin {
        font-size: 16px;
        top: 560px;
        left: 10px;
    }
    .moistPin {
        font-size: 16px;
        top: 585px;
        left: 10px;
    }
    .soilECPin {
        font-size: 16px;
        top: 610px;
        left: 10px;
    }

    .sunPin {
        font-size: 16px;
        padding: 4px 8px;
        top: 10px;
        right: 10px;
    }
    .fanPin {
        font-size: 16px;
        padding: 4px 8px;
        top: 525px;
        right: 10px;
    }
    .bulbLedPin {
        font-size: 16px;
        padding: 4px 8px;
        top: 565px;
        right: 10px;
    }
    .pumpPin {
        font-size: 16px;
        padding: 4px 8px;
        top: 605px;
        right: 10px;
    }


}


